{% extends "index.html" %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href='{% static "assets/css/main.css" %}' />

<body>
<!--
<section>
    <div class="bg"></div>
    <h1>No Copyright Music</h1>
    <p> For your contents!</p>
</section>
-->



<div style = "width:100%; height:50px; background-color:black;">
</div>
    <div class="jumbotron text-center bgm-title" style="width: 100%; background-color: #141414; margin-bottom:0px; text-align:left; padding-left:50px;">
        <hr>
        <h1>No Copyright & Free</h1>
        <hr>
        <h1>Music</h1>
        <hr>
        <h1>For Your Contents</h1>
        <p></p>
    </div>



			<section id="bgm" class="main style2 dark fullscreen">
				<div class="content box style2" style="background-color: rgba(9, 9, 9, 0.5); width:100%;height:100%;">

<table class="table table-striped table-dark" style="border-collapse: inherit;">
    <div class="text-center" style="background-color: transparent;">
        <h1 style="color:white;">BGM목록</h1>
        <p></p>

    </div>

  <thead>

    <tr style="border-top:2px solid #cccccc;background-color: rgba(44, 44, 44, 0.5);">

      <th scope="col" style="width:100px;border-right:2px solid #cccccc; font-weight:bold; color:white;">Music</th>
      <th scope="col" style="text-align:center;font-weight:bold;color:white;">Title</th>

      <th scope="col" style="width:100px;border-left:2px solid #cccccc; font-weight:bold;color:white;">Genre</th>
    </tr>
  </thead>

  <tbody>

    <tr style="border-bottom:2px solid #cccccc; background-color: rgba(145, 140, 140, 0.5); width:100px;">
      <th scope="row"><embed src="https://www.youtube.com/v/c-XpTMGPQvI?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="170" height="80" ="always" allowfullscreen="true"></embed></th>
      <td style="text-align:left; color:white;font-weight: bold;"><a style=""></a>Epic Cinematic Dramatic Adventure</td>
      <td style="font-size:15px; width:100px;color:white;">[happy]</td>
    </tr>

     <tr style="border-bottom:2px solid #cccccc; background-color: rgba(145, 140, 140, 0.5); width:100px;">
      <th scope="row"><embed src="https://www.youtube.com/v/_BhHYyI-iPI?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed></th>
      <td style="text-align:left; color:white;font-weight: bold;"><a style=""></a>Simon More - Vanlife</td>
      <td style="font-size:15px; width:100px;color:white;">[brave]</td>
    </tr>

    <tr style="border-bottom:2px solid #cccccc; background-color: rgba(145, 140, 140, 0.5); width:100px;">
      <th scope="row"><embed src="https://www.youtube.com/v/c-XpTMGPQvI?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed></th>
      <td style="text-align:left; color:white;font-weight: bold;"><a style=""></a>RISE | Worlds 2018 - League of Legends</td>
      <td style="font-size:15px; width:100px;color:white;">[sad]</td>
    </tr>
     <tr style="border-bottom:2px solid #cccccc; background-color: rgba(145, 140, 140, 0.5); width:100px;">
      <th scope="row"><embed src="https://www.youtube.com/v/5dIrzmOoaxw?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed></th>
      <td style="text-align:left; color:white;font-weight: bold;"><a style=""></a>Naulé - Tough Love</td>
      <td style="font-size:15px; width:100px;color:white;">[love]</td>
    </tr>
     <tr style="border-bottom:2px solid #cccccc; background-color: rgba(145, 140, 140, 0.5); width:100px;">
      <th scope="row"><embed src="https://www.youtube.com/v/DLkX0UJ90Wo?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed></th>
      <td style="text-align:left; color:white;font-weight: bold;"><a style=""></a>MBB - Ibiza</td>
      <td style="font-size:15px; width:100px;color:white;">[happy]</td>
    </tr>
     <tr style="border-bottom:2px solid #cccccc; background-color: rgba(145, 140, 140, 0.5); width:100px;">
      <th scope="row"><embed src="https://www.youtube.com/v/KzQiRABVARk?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed></th>
      <td style="text-align:left; color:white;font-weight: bold;"><a style=""></a>Fredji - Happy Life</td>
      <td style="font-size:15px; width:100px;color:white;">[happy]</td>
    </tr>
     <tr style="border-bottom:2px solid #cccccc; background-color: rgba(145, 140, 140, 0.5); width:100px;">
      <th scope="row"><embed src="https://www.youtube.com/v/HvxqiK2d6CE?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed></th>
      <td style="text-align:left; color:white;font-weight: bold;"><a style=""></a>Break Free (Free Music) — Vendredi [Audio Library Release]</td>
      <td style="font-size:15px; width:100px;color:white;">[strange]</td>
    </tr>
     <tr style="border-bottom:2px solid #cccccc; background-color: rgba(145, 140, 140, 0.5); width:100px;">
      <th scope="row">
          <embed src="https://www.youtube.com/v/oHR9HZsBDJw?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed>
      </th>
      <td style="text-align:left; color:white;font-weight: bold;"><a style=""></a>No? Yeah! — LiQWYD [Vlog No Copyright Music]</td>
      <td style="font-size:15px; width:100px;color:white;">[happy]</td>
    </tr>
     <tr style="border-bottom:2px solid #cccccc; background-color: rgba(145, 140, 140, 0.5); width:100px;">
      <th scope="row">
          <embed src="https://www.youtube.com/v/p5cWMxzzMdA?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed>
      </th>
      <td style="text-align:left; color:white;font-weight: bold;"><a style=""></a>Melancholic Piano Music (No Copyright)</td>
      <td style="font-size:15px; width:100px;color:white;">[sad]</td>
    </tr>
     <tr style="border-bottom:2px solid #cccccc; background-color: rgba(145, 140, 140, 0.5); width:100px;">
      <th scope="row">
         <embed src="https://www.youtube.com/v/PTpZqMpq6w8?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed>
      </th>
      <td style="text-align:left; color:white;font-weight: bold;"><a style=""></a>Enemy — SilentCrafter [Vlog No Copyright Music]</td>
      <td style="font-size:15px; width:100px;color:white;">[electronic]</td>
    </tr>


  </tbody>

                </table>


			</div>
			</section>
    <!-- content -->
<!--
    <div class="container bgm-container">
    <div class="bgm-container-content">
    <div class="bgmlist">
    <embed src="https://www.youtube.com/v/c-XpTMGPQvI?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed>
    <span class="bgmlist2">Epic Cinematic Dramatic Adventure</span> <span class="bgmlist2" style="font-size:20px; float:right; padding-top:60px; padding-right:60px;">[happy]</span>
    </div>
    </div>
	</div>


	<div class="container bgm-container">
    <div class="bgm-container-content">
    <div class="bgmlist">
    <embed src="https://www.youtube.com/v/fB8TyLTD7EE?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed>
    <span class="bgmlist2">RISE | Worlds 2018 - League of Legends</span> <span class="bgmlist2" style="font-size:20px;float:right; padding-top:60px; padding-right:60px;">[sad]</span>
    </div>
    </div>

    -->




    <!-- footer -->

		<style>
			p { margin:20px 0px; }
		</style>
	</head>
	<body>
		<div class="container" style="background-color: #141414; width: 100%; padding-top:80px;">
			<div class="row">
				<div class="col" style="text-align:center;">

					<ul class="pagination">

						<li class="page-item" style="font-weight: bold;"><a class="page-link" style="background-color: #d3d3d3;color:#000000;" href="/bgm">1</a></li>
						<li class="page-item" ><a class="page-link" style="color:#000000;" href="/bgm2">2</a></li>
						<li class="page-item"><a class="page-link" style="color:#000000;"  href="#">3</a></li>
						<li class="page-item"><a class="page-link" style="color:#000000;"  href="#">4</a></li>
						<li class="page-item"><a class="page-link" style="color:#000000;"  href="#">5</a></li>
						<li class="page-item"><a class="page-link" style="color:#000000;" href="/bgm2">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	</body>


</body>
{% endblock content %}