<!DOCTYPE html>
<html lang="en">


    <head>


        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Shufflay</title>

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css">

        <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Cute+Font|Patua+One|Do+Hyeon|Nanum+Gothic|Nanum+Myeongjo|Lobster|Dancing+Script|Yeon+Sung&display=swap&subset=korean" rel="stylesheet">
        <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css" type="text/css"}>

        <link rel="stylesheet" href="static/css/test.css" type="text/css">

        <!-- Plugin CSS -->
        <link rel="stylesheet" href="static/css/animate.min.css" type="text/css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="static/css/creative.css" type="text/css">

        <!-- 존수존수가 추가한 New CSS-->
        <link rel="stylesheet" href="static/assets/css/main.css" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


        <![endif]-->

    </head>

<body>
<!--
<section>
    <div class="bg"></div>
    <h1>No Copyright Music</h1>
    <p> For your contents!</p>
</section>
-->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" style="letter-spacing: 0em;" href="/shufflay/base.html">Shufflay's BGM 저장소</a>
      </div>


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="letter-spacing: 0em;font-size: 0px;">

          <ul class="nav navbar-nav navbar-right">

              <li>
                  <a class="page-scroll" href="/shufflay/account.html">계정관리</a>
              </li>
              <!--
              <li>
                  <a class="page-scroll" href="/library">라이브러리</a>
              </li>
              -->
              <li>
                  <a class="page-scroll" href="/shufflay/bgm.html">BGM</a>
              </li>
              <li>
                  <a class="page-scroll" href="/shufflay/photo.html">사진</a>
              </li>
              <!--
              <li>
                  <a class="page-scroll" href="/hot">인기차트</a>
              </li>
              -->
              <li>
                  <a class="page-scroll" href="/shufflay/community.html">커뮤니티</a>
              </li>
              <li>
                  <a class="page-scroll" href="/shufflay/upload.html">업로드</a>
              </li>
              <li>
                  <a class="page-scroll" href="/shufflay/customer.html">고객지원</a>
              </li>
              <li>
                  <a class="page-scroll" href="/shufflay/team.html">team 소개</a>
              </li>
                            <li>
                <a class="page-scroll" href="/shufflay/register.html">로그인</a>
            </li>
               <!-- {% if user.is_active %}
              <li><a href="{% url 'account' %}"> <span class="glyphicon glyphicon-heart"></span> {{user.username}}</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
              {% else %}
              <li><a href="{% url 'login' %}"> <span class="glyphicon glyphicon-user"></span> Login</a></li>
              <li><a href="{% url 'admin:index' %}">Admin</a></li>
              {% endif %} -->
          </ul>

      </div>

      <!-- /.navbar-collapse -->
  </div>

  <!-- /.container-fluid -->
</nav>


<div style = "width:100%; height:50px; background-color:black;">
</div>
    <div class="jumbotron text-center bgm-title" style="width: 100%; background-color: #141414; margin-bottom:0px; text-align:left; padding-left:50px;">
        <hr>
        <h1>No Copyright & Free</h1>
        <hr>
        <h1>Music</h1>
        <hr>
        <h1>For Your Contents</h1>
        <p></p>
    </div>



			<section id="bgm" class="main style2 dark fullscreen">
				<div class="content box style2" style="background-color: rgba(9, 9, 9, 0.5); /*width:90%;height:100%;*/">

<table class="table table-striped table-dark" style="border-collapse: inherit; width:100%;">
    <div class="text-center" style="background-color: transparent;">
        <h1 style="color:white;">BGM목록</h1>
        <p></p>

    </div>

  <thead>

    <tr style="border-top:2px solid #cccccc;background-color: rgba(44, 44, 44, 0.5);">

      <th scope="col" style="width:100px;border-right:2px solid #cccccc; font-weight:bold; color:white;">Music</th>
      <th scope="col" style="text-align:center;font-weight:bold;color:white;">Title</th>

      <th scope="col" style="width:100px;border-left:2px solid #cccccc; font-weight:bold;color:white;">Genre</th>
    </tr>
  </thead>

  <tbody>

    <tr style="border-bottom:2px solid #cccccc; background-color: rgba(145, 140, 140, 0.5); width:100px;">
      <th scope="row"><embed src="https://www.youtube.com/v/c-XpTMGPQvI?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed></th>
      <td style="text-align:left; color:white;font-weight: bold;"><a style=""></a>Epic Cinematic Dramatic Adventure</td>
      <td style="font-size:15px; width:100px;color:white;">[happy]</td>
    </tr>

     <tr style="border-bottom:2px solid #cccccc; background-color: rgba(145, 140, 140, 0.5); width:100px;">
      <th scope="row"><embed src="https://www.youtube.com/v/_BhHYyI-iPI?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed></th>
      <td style="text-align:left; color:white;font-weight: bold;"><a style=""></a>Simon More - Vanlife</td>
      <td style="font-size:15px; width:100px;color:white;">[brave]</td>
    </tr>

    <tr style="border-bottom:2px solid #cccccc; background-color: rgba(145, 140, 140, 0.5); width:100px;">
      <th scope="row"><embed src="https://www.youtube.com/v/c-XpTMGPQvI?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed></th>
      <td style="text-align:left; color:white;font-weight: bold;"><a style=""></a>RISE | Worlds 2018 - League of Legends</td>
      <td style="font-size:15px; width:100px;color:white;">[sad]</td>
    </tr>
     <tr style="border-bottom:2px solid #cccccc; background-color: rgba(145, 140, 140, 0.5); width:100px;">
      <th scope="row"><embed src="https://www.youtube.com/v/5dIrzmOoaxw?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed></th>
      <td style="text-align:left; color:white;font-weight: bold;"><a style=""></a>Naulé - Tough Love</td>
      <td style="font-size:15px; width:100px;color:white;">[love]</td>
    </tr>
     <tr style="border-bottom:2px solid #cccccc; background-color: rgba(145, 140, 140, 0.5); width:100px;">
      <th scope="row"><embed src="https://www.youtube.com/v/DLkX0UJ90Wo?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed></th>
      <td style="text-align:left; color:white;font-weight: bold;"><a style=""></a>MBB - Ibiza</td>
      <td style="font-size:15px; width:100px;color:white;">[happy]</td>
    </tr>
     <tr style="border-bottom:2px solid #cccccc; background-color: rgba(145, 140, 140, 0.5); width:100px;">
      <th scope="row"><embed src="https://www.youtube.com/v/KzQiRABVARk?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed></th>
      <td style="text-align:left; color:white;font-weight: bold;"><a style=""></a>Fredji - Happy Life</td>
      <td style="font-size:15px; width:100px;color:white;">[happy]</td>
    </tr>
     <tr style="border-bottom:2px solid #cccccc; background-color: rgba(145, 140, 140, 0.5); width:100px;">
      <th scope="row"><embed src="https://www.youtube.com/v/HvxqiK2d6CE?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed></th>
      <td style="text-align:left; color:white;font-weight: bold;"><a style=""></a>Break Free (Free Music) — Vendredi [Audio Library Release]</td>
      <td style="font-size:15px; width:100px;color:white;">[strange]</td>
    </tr>
     <tr style="border-bottom:2px solid #cccccc; background-color: rgba(145, 140, 140, 0.5); width:100px;">
      <th scope="row">
          <embed src="https://www.youtube.com/v/oHR9HZsBDJw?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed>
      </th>
      <td style="text-align:left; color:white;font-weight: bold;"><a style=""></a>No? Yeah! — LiQWYD [Vlog No Copyright Music]</td>
      <td style="font-size:15px; width:100px;color:white;">[happy]</td>
    </tr>
     <tr style="border-bottom:2px solid #cccccc; background-color: rgba(145, 140, 140, 0.5); width:100px;">
      <th scope="row">
          <embed src="https://www.youtube.com/v/p5cWMxzzMdA?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed>
      </th>
      <td style="text-align:left; color:white;font-weight: bold;"><a style=""></a>Melancholic Piano Music (No Copyright)</td>
      <td style="font-size:15px; width:100px;color:white;">[sad]</td>
    </tr>
     <tr style="border-bottom:2px solid #cccccc; background-color: rgba(145, 140, 140, 0.5); width:100px;">
      <th scope="row">
         <embed src="https://www.youtube.com/v/PTpZqMpq6w8?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed>
      </th>
      <td style="text-align:left; color:white;font-weight: bold;"><a style=""></a>Enemy — SilentCrafter [Vlog No Copyright Music]</td>
      <td style="font-size:15px; width:100px;color:white;">[electronic]</td>
    </tr>


  </tbody>

                </table>


			</div>
			</section>

    <!-- footer -->

		<style>
			p { margin:20px 0px; }
		</style>
	</head>

		<div class="container"  style="background-color: #141414; width: 100%; padding-top:80px;">
			<div class="row">
				<div class="col" style="text-align:center;">

					<ul class="pagination">
						<li class="page-item"><a class="page-link" style="color:#000000;" href="/shufflay/bgm.html">Previous</a></li>
						<li class="page-item"><a class="page-link"style="color:#000000;"  href="/shufflay/bgm.html">1</a></li>
						<li class="page-item" style="font-weight: bold;"><a class="page-link" style="background-color: #d3d3d3;color:#000000; " href="/shufflay/bgm2.html">2</a></li>
						<li class="page-item"><a class="page-link" style="color:#000000;" href="#">3</a></li>
						<li class="page-item"><a class="page-link" style="color:#000000;" href="#">4</a></li>
						<li class="page-item"><a class="page-link" style="color:#000000;" href="#">5</a></li>
						<li class="page-item"><a class="page-link" style="color:#000000;" href="/shufflay/bgm3/html">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <div class ="footer-test" style="background-color: #141414; letter-spacing: 0em;text-transform: none;">

    <section id="contact">
    <div class="container">
        <hr style="border: solid 1px #939393; max-width:100%; bottom:-100px; position:relative; width:100%;"></hr>
        <div class="row">

            <div class="col-lg-8 col-lg-offset-2 text-center footer-contact">

                <h2 class="section-heading" style="color: white; line-height: 1.1; font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; letter-spacing:0; font-weight: 600;text-transform: none; margin-bottom:30px;">Contact</h2>
                <div class="info-company">
                    <h5 style="font-weight: bold; line-height:0;color: #ffffff;letter-spacing: 0em; margin-bottom:40px;">(주) 셔플레이</h5 >
                    <h5 style="font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; font-weight: 500; margin-top:10px; margin-bottom:10px;color: #969697;letter-spacing: 0em;">Founder 조현수 | 인천 남동구 간석동 거주 </h5>
                    <h5 style="font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; font-weight: 500; margin-top:10px; margin-bottom:10px;color: #969697;letter-spacing: 0em;">CTO 이청수 | 경기 안산시 거주 </h5>
                    <h5 style="font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; font-weight: 500; margin-top:10px; margin-bottom:10px;color: #969697;letter-spacing: 0em;">CEO 유재영 | 인천 남동구 구월동 거주 </h5>

                </div>
                <hr class="primary">
                <p></p>
            </div>

            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn" style="color:white;font-size: 60px; font-family:FontAwesome; font-weight: 500"></i>
                <p style="color: white;font-size: 16px;">032-467-8005</p>
            </div>
            <div class="col-lg-4  text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" style="color:white;font-size: 60px;; font-family:FontAwesome; font-weight: 500;" data-wow-delay=".1s"></i>
                <p><a href="mailto: hyunsoo31@naver.com" style="color: white;font-size: 16px;">hyunsoo31@naver.com</a></p>
            </div>
        </div>
    </div>
</section>
</div>

</body>
