<!DOCTYPE html>
<html lang="en">


    <head>


        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Shufflay</title>

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css">

        <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Cute+Font|Patua+One|Do+Hyeon|Nanum+Gothic|Nanum+Myeongjo|Lobster|Dancing+Script|Yeon+Sung&display=swap&subset=korean" rel="stylesheet">
        <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css" type="text/css"}>

        <link rel="stylesheet" href="static/css/test.css" type="text/css">

        <!-- Plugin CSS -->
        <link rel="stylesheet" href="static/css/animate.min.css" type="text/css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="static/css/creative.css" type="text/css">

    <style>
			/* Intro */

	#intro {
		background: url("/shufflay/static/assets/css/images/overlay.png"), url("/shufflay/static/images/intro.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		/*background-position: top left, bottom center;*//*수정*/
		background-repeat: repeat, no-repeat;
	}

/* One */

	#one {
		background: url("/shufflay/static/assets/css/images/overlay.png"), url("/shufflay/static/images/one.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		/*background-position: top left, center center;*//*수정*/
	}

/* Two */

	#two {
		background: url("/shufflay/static/assets/css/images/overlay.png"), url("/shufflay/static/images/two.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		/*background-position: top left, center center;*//*수정*/
	}
		</style>


    </head>

   <!-- <body data-spy="scroll" data-target="#header">-->
    <body id="page-top">

        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" style="letter-spacing: 0em;" href="/shufflay/base.html">Shufflay's BGM 저장소</a>
                </div>
    
    
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="letter-spacing: 0em;font-size: 0px;">
    
                    <ul class="nav navbar-nav navbar-right">
    
                        <li>
                            <a class="page-scroll" href="/shufflay/account.html">계정관리</a>
                        </li>
                        <!--
                        <li>
                            <a class="page-scroll" href="/library">라이브러리</a>
                        </li>
                        -->
                        <li>
                            <a class="page-scroll" href="/shufflay/bgm.html">BGM</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/shufflay/photo.html">사진</a>
                        </li>
                        <!--
                        <li>
                            <a class="page-scroll" href="/hot">인기차트</a>
                        </li>
                        -->
                        <li>
                            <a class="page-scroll" href="/shufflay/community.html">커뮤니티</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/shufflay/upload.html">업로드</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/shufflay/customer.html">고객지원</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/shufflay/team.html">team 소개</a>
                        </li>
												<li>
													<a class="page-scroll" href="/shufflay/register.html">로그인</a>
											</li>
                         <!-- {% if user.is_active %}
                        <li><a href="{% url 'account' %}"> <span class="glyphicon glyphicon-heart"></span> {{user.username}}</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}"> <span class="glyphicon glyphicon-user"></span> Login</a></li>
                        <li><a href="{% url 'admin:index' %}">Admin</a></li>
                        {% endif %} -->
                    </ul>
    
                </div>
    
                <!-- /.navbar-collapse -->
            </div>
    
            <!-- /.container-fluid -->
        </nav>

		<link rel="stylesheet" href="/shufflay/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/shufflay/static/assets/css/noscript.css" /></noscript>

	<body class="is-preload" style="padding-top:50px;">




		<!-- Header -->

			<div id="header">
				<h1 style="line-height: 1.5em;">Customer Service</h1>
				<nav>
					<ul>
						<li><a href="#intro">Help</a></li>
						<li><a href="#one">Notice</a></li>
						<li><a href="#two">FAQ</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</nav>
			</div>


		<!-- Intro -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content">

						<h2>무엇을 도와드릴까요?</h2>
					<p style="font-size: 60px; margin-top:40px;">May I <strong>help</strong> you?</p>
					<p>Welcome to <strong>Customer service</strong>

					<footer>
						<a href="#one" class="button style2 down">More</a>
					</footer>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main style2 right dark fullscreen">
				<div class="content box style2" style="background-color: rgba( 255, 255, 255, 0.5 );">

						<h2>공지사항</h2><p>Notice</p>
<table class="table table-striped table-dark">
  <thead>

    <tr style="border-top:2px solid #cccccc;">

      <th scope="col" style="width:100px;border-right:2px solid #cccccc;">ID</th>
      <th scope="col" style="text-align:center;">TITLE</th>

      <th scope="col" style="width:100px;border-left:2px solid #cccccc; ">DATE</th>
    </tr>
  </thead>
    {% for post in posts.all%}

  <tbody>

    <tr style="border-bottom:2px solid #cccccc; background-color: rgba( 255, 255, 255, 0.5 );">
      <th scope="row" style="border-right:2px solid #cccccc;">{{post.author}}</th>
      <td style="text-align:left;"><a style="color:black; font-weight: bold;" href="post/{{post.pk}}">{{post.title}}</a></td>
      <td style="border-left:2px solid #cccccc; font-size:15px;">{{post.created_date|date:"Y-m-d"}}</td>
    </tr>

  </tbody>
    {% endfor %}

</table>
				</div>
				<a href="#two" class="button style2 down anchored">Next</a>
			</section>

		<!-- Two -->
			<section id="two" class="main style2 left dark fullscreen">
				<div class="content box style2" style="background-color: rgba( 255, 255, 255, 0.5 );">

						<h2>자주 묻는 질문</h2><p>FAQ</p>

<table class="table table-striped table-dark">
  <thead>
    <tr style="border-top:2px solid #cccccc;">

      <th scope="col" style="width:100px;border-right:2px solid #cccccc;">ID</th>
      <th scope="col" style="text-align: center;" >TITLE</th>

      <th scope="col"style="width:100px;border-left:2px solid #cccccc;">DATE</th>
    </tr>
  </thead>
    {% for ask in asks.all%}

  <tbody>

    <tr style="border-bottom:2px solid #cccccc;background-color: rgba( 255, 255, 255, 0.5 );">
      <th scope="row" style="width:100px;border-right:2px solid #cccccc;">{{ask.author}}</th>
      <td style="text-align:left;"><a style="color:black; font-weight: bold;" href="ask/{{ask.pk}}">{{ask.title}}</a></td>
      <td style="border-left:2px solid #cccccc; font-size:15px;">{{ask.published_date|date:"Y-m-d"}}</td>
    </tr>

  </tbody>


    {% endfor %}
	</table>
				</div>
				<a href="#contact" class="button style2 down anchored">Next</a>
			</section>

		<!-- Work -->
		<!--
			<section id="work" class="main style3 primary">
				<div class="content">

						<h2>My Work</h2>
						<p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.
						Fusce blandit ultrices sapien, in accumsan orci rhoncus eu. Sed sodales venenatis
						arcu, id varius justo euismod in. Curabitur egestas consectetur magna vitae.</p>
			-->


		<!-- Contact -->
			<section id="contact" class="main style3 secondary">
				<div class="content">

						<h2>문의하기</h2>
						<p>관리자에게 직접 문의하고 싶으시다면 언제든지 메세지 남겨주세요!</p>

					<div class="box">
						<form method="post" action="#">
							<div class="fields">
								<div class="field half"><input type="text" name="name" placeholder="Name" /></div>
								<div class="field half"><input type="email" name="email" placeholder="Email" /></div>
								<div class="field"><textarea name="message" placeholder="Message" rows="6"></textarea></div>
							</div>
							<ul class="actions special">
								<li><input type="submit" value="Send Message" /></li>
							</ul>
						</form>
					</div>
				</div>
			</section>

		<!-- Footer -->
		<!--
			<footer id="footer">
-->
				<!-- Icons -->
				<!--
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a></li>
					</ul>
					-->

				<!-- Menu -->
				<!--
					<ul class="menu">
						<li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
					</ul>
-->
		<!--
			</footer>
			-->


        <!-- jQuery -->
        <script src="/shufflay/static/js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/shufflay/static/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="/shufflay/static/js/jquery.easing.min.js"></script>
        <script src="/shufflay/static/js/jquery.fittext.js"></script>
        <script src="/shufflay/static/js/wow.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="/shufflay/static/js/creative.js"></script>
        <script src="/shufflay/static/js/menu.js"></script>

		<!-- Scripts -->
			<script src="/shufflay/static/assets/js/jquery.min.js"></script>
			<script src="/shufflay/static/assets/js/jquery.poptrox.min.js"></script>
			<script src="/shufflay/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/shufflay/static/assets/js/jquery.scrollex.min.js"></script>
			<script src="/shufflay/static/assets/js/browser.min.js"></script>
			<script src="/shufflay/static/assets/js/breakpoints.min.js"></script>
			<script src="/shufflay/static/assets/js/util.js"></script>
			<script src="/shufflay/static/assets/js/main.js"></script>
			

	</body>
