<!DOCTYPE html>
<html lang="en">


    <head>


        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Shufflay</title>

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css">

        <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Cute+Font|Patua+One|Do+Hyeon|Nanum+Gothic|Nanum+Myeongjo|Lobster|Dancing+Script|Yeon+Sung&display=swap&subset=korean" rel="stylesheet">
        <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css" type="text/css"}>

        <link rel="stylesheet" href="static/css/test.css" type="text/css">

        <!-- Plugin CSS -->
        <link rel="stylesheet" href="static/css/animate.min.css" type="text/css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="static/css/creative.css" type="text/css">

        <!-- 존수존수가 추가한 New CSS-->


				<link rel="stylesheet" href="static/assets/css/main.css" />
				<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
		

    </head>

   <!-- <body data-spy="scroll" data-target="#header">-->
    <body id="page-top">

        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" style="letter-spacing: 0em;" href="/shufflay/base.html">Shufflay's BGM 저장소</a>
                </div>
    
    
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="letter-spacing: 0em;font-size: 0px;">
    
                    <ul class="nav navbar-nav navbar-right">
    
                        <li>
                            <a class="page-scroll" href="/shufflay/account.html">계정관리</a>
                        </li>
                        <!--
                        <li>
                            <a class="page-scroll" href="/library">라이브러리</a>
                        </li>
                        -->
                        <li>
                            <a class="page-scroll" href="/shufflay/bgm.html">BGM</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/shufflay/photo.html">사진</a>
                        </li>
                        <!--
                        <li>
                            <a class="page-scroll" href="/hot">인기차트</a>
                        </li>
                        -->
                        <li>
                            <a class="page-scroll" href="/shufflay/community.html">커뮤니티</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/shufflay/upload_file.html/">업로드</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/shufflay/customer.html">고객지원</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/shufflay/team.html">team 소개</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/shufflay/register.html">회원가입</a>
                        </li>
                         <!-- {% if user.is_active %}
                        <li><a href="{% url 'account' %}"> <span class="glyphicon glyphicon-heart"></span> {{user.username}}</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}"> <span class="glyphicon glyphicon-user"></span> Login</a></li>
                        <li><a href="{% url 'admin:index' %}">Admin</a></li>
                        {% endif %} -->
                    </ul>
    
                </div>
    
                <!-- /.navbar-collapse -->
            </div>
    
            <!-- /.container-fluid -->
        </nav>


	<body class="is-preload" style="padding-top:50px;">


				<section id="coming-soon" class="main style1 dark fullscreen">
				<div class="content">

						<h2>준비 중 입니다.</h2>
					<p style="font-size: 60px; margin-top:40px;">Coming     <strong>Soon</strong></p>

				</div>
			</section>


		<!-- Footer -->
		<!--
			<footer id="footer">
-->
				<!-- Icons -->
				<!--
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a></li>
					</ul>
					-->

				<!-- Menu -->
				<!--
					<ul class="menu">
						<li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
					</ul>
-->
		<!--
			</footer>
			-->

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.poptrox.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js" ></script>
			<script src="static/assets/js/main.js" ></script>

	</body>

	<div class ="footer-test" style="background-color: #141414; letter-spacing: 0em;text-transform: none;">

		<section id="contact">
		<div class="container">
				<hr style="border: solid 1px #939393; max-width:100%; bottom:-100px; position:relative; width:100%;"></hr>
				<div class="row">

						<div class="col-lg-8 col-lg-offset-2 text-center footer-contact">

								<h2 class="section-heading" style="color: white; line-height: 1.1; font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; letter-spacing:0; font-weight: 600;text-transform: none; margin-bottom:30px;">Contact</h2>
								<div class="info-company">
										<h5 style="font-weight: bold; line-height:0;color: #ffffff;letter-spacing: 0em; margin-bottom:40px;">(주) 셔플레이</h5 >
										<h5 style="font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; font-weight: 500; margin-top:10px; margin-bottom:10px;color: #969697;letter-spacing: 0em;">Founder 조현수 | 인천 남동구 간석동 거주 </h5>
										<h5 style="font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; font-weight: 500; margin-top:10px; margin-bottom:10px;color: #969697;letter-spacing: 0em;">CTO 이청수 | 경기 안산시 거주 </h5>
										<h5 style="font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; font-weight: 500; margin-top:10px; margin-bottom:10px;color: #969697;letter-spacing: 0em;">CEO 유재영 | 인천 남동구 구월동 거주 </h5>

								</div>
								<hr class="primary">
								<p></p>
						</div>

						<div class="col-lg-4 col-lg-offset-2 text-center">
								<i class="fa fa-phone fa-3x wow bounceIn" style="color:white;font-size: 60px; font-family:FontAwesome; font-weight: 500"></i>
								<p style="color: white;font-size: 16px;">032-467-8005</p>
						</div>
						<div class="col-lg-4  text-center">
								<i class="fa fa-envelope-o fa-3x wow bounceIn" style="color:white;font-size: 60px;; font-family:FontAwesome; font-weight: 500;" data-wow-delay=".1s"></i>
								<p><a href="mailto: hyunsoo31@naver.com" style="color: white;font-size: 16px;">hyunsoo31@naver.com</a></p>
						</div>
				</div>
		</div>
</section>
</div>