<!DOCTYPE html>
<html lang="en">


    <head>


        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Shufflay</title>

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css">

        <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Cute+Font|Patua+One|Do+Hyeon|Nanum+Gothic|Nanum+Myeongjo|Lobster|Dancing+Script|Yeon+Sung&display=swap&subset=korean" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css" type="text/css">

        <link rel="stylesheet" href="static/css/test.css" type="text/css">

        <!-- Plugin CSS -->
        <link rel="stylesheet" href="static/css/animate.min.css" type="text/css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="static/css/creative.css" type="text/css">
        <link rel="stylesheet" href="static/css/test2.css"type="text/css">
        <!-- 존수존수가 추가한 New CSS-->


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


        <![endif]-->

    </head>



<body>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" style="letter-spacing: 0em;" href="/shufflay/base.html">Shufflay's BGM 저장소</a>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="letter-spacing: 0em;font-size: 0px;">

                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a class="page-scroll" href="/shufflay/account.html">계정관리</a>
                    </li>
                    <!--
                    <li>
                        <a class="page-scroll" href="/library">라이브러리</a>
                    </li>
                    -->
                    <li>
                        <a class="page-scroll" href="/shufflay/bgm.html">BGM</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/shufflay/photo.html">사진</a>
                    </li>
                    <!--
                    <li>
                        <a class="page-scroll" href="/hot">인기차트</a>
                    </li>
                    -->
                    <li>
                        <a class="page-scroll" href="/shufflay/community.html">커뮤니티</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/shufflay/upload.html">업로드</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/shufflay/customer.html">고객지원</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/shufflay/team.html">team 소개</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/shufflay/register.html">로그인</a>
                    </li>
                     <!-- {% if user.is_active %}
                    <li><a href="{% url 'account' %}"> <span class="glyphicon glyphicon-heart"></span> {{user.username}}</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}"> <span class="glyphicon glyphicon-user"></span> Login</a></li>
                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                    {% endif %} -->
                </ul>

            </div>

            <!-- /.navbar-collapse -->
        </div>

        <!-- /.container-fluid -->
    </nav>

<div style = "width:100%; height:50px; background-color:black;">
</div>

    <div class="jumbotron text-center" style="width: 100%; background-color: #141414; margin-bottom:0px;">
        <h1 style="font-family: 'Varela Round', sans-serif; color: white; font-weight: bold; font-size: 100px;">Gallery Category</h1>
        <p></p>
    </div>


    <!-- header -->

    <!-- content -->


<figure class="snip1368">
      <a href="/shufflay/photo_nature.html"><img src="/shufflay/static/img/photo/nature/1.jpg" alt="sample30" /></a>
      <h3>Nature</h3>
      <figcaption>
          <div>
              자연
          </div>

      </figcaption>
</figure>

<figure class="snip1368">
    <a href="/shufflay/photo_building.html"><img src="/shufflay/static/img/photo/building/1.jpg" alt="sample31" /></a>
     <h3>Building</h3>
     <figcaption>
          <div>
              건축물
          </div>
     </figcaption>
</figure>

<figure class="snip1368">
    <a href="/shufflay/photo_food.html"><img src="/shufflay/static/img/photo/food/1.jpg" alt="sample35" /></a>
    <h3>Food</h3>
    <figcaption>
          <div>
              음식
          </div>
    </figcaption>
</figure>

<figure class="snip1368">
    <a href="/shufflay/photo_people.html"><img src="/shufflay/static/img/photo/people/1.jpg" alt="sample35" /></a>
    <h3>People</h3>
    <figcaption>
          <div>
              인물
          </div>
    </figcaption>
</figure>

<figure class="snip1368">
    <a href="/shufflay/photo_animal.html"><img src="/shufflay/static/img/photo/animal/1.jpg" alt="sample35" /></a>
    <h3>Animal</h3>
    <figcaption>
          <div>
              동물
          </div>
    </figcaption>
</figure>

<figure class="snip1368">
    <a href="/shufflay/photo_music.html"><img src="/shufflay/static/img/photo/music/1.jpg" alt="sample35" /></a>
    <h3>Music</h3>
    <figcaption>
          <div>
              음악
          </div>
    </figcaption>
</figure>

<figure class="snip1368">
    <a href="/shufflay/photo_sport.html"><img src="/shufflay/static/img/photo/sport/1.jpg" alt="sample35" /></a>
    <h3>Sport</h3>
    <figcaption>
          <div>
              스포츠
          </div>
    </figcaption>
</figure>

<figure class="snip1368">
    <a href="/shufflay/photo_emotion.html"><img src="/shufflay/static/img/photo/emotion/1.jpg" alt="sample35" /></a>
    <h3>Emotion</h3>
    <figcaption>
          <div>
              감정
          </div>
    </figcaption>
</figure>


</body>
        <!-- jQuery -->
        <script src="/shufflay/static/js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/shufflay/static/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="/shufflay/static/js/jquery.easing.min.js"></script>
        <script src="/shufflay/static/js/jquery.fittext.js"></script>
        <script src="/shufflay/static/js/wow.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="/shufflay/static/js/creative.js"></script>
        <script src="/shufflay/static/js/menu.js"></script>
        <!-- <script>
            $(function(){
        var subPage = new Array;
        subPage[0] = "/shufflay/account.html";
        subPage[1] = "/shufflay/bgm.html";
        subPage[2] = "/shufflay/photo.html";
        subPage[3] = "/shufflay/community.html";
        subPage[4] = "/shufflay/upload.html";
        subPage[5] = "/shufflay/customer.html";
        subPage[6] = "/shufflay/team.html";
        subPage[7] = "/shufflay/login.html";
        
        var url = location.href;
    
        var getAr0 = url.indexOf(subPage[0]);
        var getAr1 = url.indexOf(subPage[1]);
        var getAr2 = url.indexOf(subPage[2]);
        var getAr3 = url.indexOf(subPage[3]);
        var getAr4 = url.indexOf(subPage[4]);
        var getAr5 = url.indexOf(subPage[5]);
        var getAr6 = url.indexOf(subPage[6]);
        var getAr7 = url.indexOf(subPage[7]);
        
        if(getAr0 != -1){
        $("li:eq(0) a").addClass("on")
        };
        if(getAr1 != -1){
        $("li:eq(1) a").addClass("on")
        };
        if(getAr2 != -1){
        $("li:eq(2) a").addClass("on")
        };
        if(getAr3 != -1){
        $("li:eq(3) a").addClass("on")
        };
        if(getAr4 != -1){
        $("li:eq(4) a").addClass("on")
        };
        if(getAr5 != -1){
        $("li:eq(5) a").addClass("on")
        };
        if(getAr6 != -1){
        $("li:eq(6) a").addClass("on")
        };
        if(getAr7 != -1){
        $("li:eq(7) a").addClass("on")
        };
        });
        </script> -->
        
